[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	pr = "!f(){ git fetch upstream pull/${1}/head:${2}; };f"
[push]
	default = simple
[user]
	email = m.freitas@offensive-security.com
	name = Matt Stavola
	signingkey = AF601CAE5109540745FA82C70E9BE8C7F1CFF48C
[commit]
	gpgsign = true
[gpg]
	program = gpg
[merge]
	conflictstyle = diff3
[diff]
        tool = difftastic
[difftool]
        prompt = false
[difftool "difftastic"]
        cmd = difft "$LOCAL" "$REMOTE"
[pager]
        difftool = true
[alias]
        dft = difftool
