AndroidStudio1.5/system

cargo/git
cargo/registry

config/clipit
config/dconf
config/gconf
config/Genymobile
config/google-googletalkplugin
config/leafpad
config/libfm
config/manjaro
config/pipemenu
config/pnmixer
config/sakura
config/teamviewer
config/Thunar
config/VirtualBox
config/xfce
config/Trolltech.conf
config/user-dirs.dirs
config/user-dirs/locale

IntelliJIdea15/system